@import url('reset.css');

@import url('styled-elements.css');
.main
{
	background: #cccccc;
	margin: 0;
	padding: 0;
}
#header
{
	width: auto;
	float: left;
}
#logo
{
	height: 130px;
	width: 275px;
	position: relative;
	border: 2px solid red;
}
#caption
{
	font-size: 20px;
	padding: 0px;
	margin:5px;
	font-weight:bold;
	text-align: center;
}

#hor
{
	background:#ffcc00;
	border: 2px solid red;
	height: 80px;
	width:78%;
	margin-left:280px;
}
#navigation {
	display: inline-block;
	list-style: none;
	margin: 0px 0 0 0px;
	padding: 10px;
}

#navigation li {
	float: left;
	padding: 10px;
}

#navigation li a {
	color: #8c8c8c;
	font-family: 'Muli-Light';
	font-size: 35px;
	text-decoration: none;
}

#navigation li a:hover, #navigation li.selected a, #navigation li a.selected {
	color: #fff;
	font-size:36px;
}
/*
#navigation2
{
	display: block;
}
#navigation2 li
{
	margin: 10px 0px 0px 400px;
	font-family: arial;
	font-size: 20px;
	float:right;
}
#navigation2 li ul
{
	display: none;
}
#navigation2 li:hover ul
{
	display: inline-table;
	float: right;
}
#navigation2 li ul li a
{
	font-size: 10px;
}
*/
#hor2
{
	top: 0px;
	margin-left: 280px;
}
#navigation2
{
	padding: 0px;
	top: 0px;
}
#navigation2 li
{
	display:inline-block;
	list-style: none;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}
#navigation2 li a
{
	margin-left: 50px;
	text-decoration: none;
	color: #003cb3;
	
}
#navigation2 li a:hover
{
	font-size: 120%;
}
#navigation2 li a:visited
{
	color: red;
}

#heading
{
	font-size: 40px;
	color: #3333cc;
	font-weight: bold;
	text-align: center;
	font-family: comic sans MS;
	font-style: italic;
	text-shadow:2px 2px;
}

#para
{
	font-size: 18px;
	font-family: Times New Roman;
	text-align: center;
	
}

.box
{
	width:27%;
	height: 480px;
	margin-left: 4%;
	float:left;
	text-align:center;
	margin-right:2%;
	float: left;
}
.box2
{
	height: 480px;
	text-align:center;
	width: 100%;
	float: left;
}
.imag
{
	width: 240px;
	height: 320px;
	margin-left:30px;
	border-width: 3px;
	border-color:black;
	border-style:outset;
}
.writeup
{
	text-align:center;
	
	text-shadow: 0.5px 0.5px;
}
.box:hover>.writeup
{
	font-size:20px;
}
.box2:hover>.writeup
{
	font-size:20px;
}
.box:hover>a >.imag
{
	width:255px;
	height:340px;
}
.box2:hover>a >.imag
{
	width:255px;
	height:340px;
}
.namelink
{
	text-decoration: none;
}
.footer
{
}
#cpy
{
	text-align: left;
	color: #800040;
	font-size: 21px;
	margin-left: 20px;
	text-shadow: 1px 1px;
}
#crt
{
	float: right;
	margin-right:20px;
	font-size: 21px;
	te
	text-shadow: 1px 1px;
	
}
#crt a
{
	text-decoration: none;
}